
        body {
            background-color: #456688;
        }
        h1 {
            color: black;             
            text-align: center;      
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial; 
        }

        h2 {
            color: #a00707; 
            text-align: center;
            font-family: Arial, sans-serif;
        }
    